<!--<app-currency-list [coinList]="coinList"></app-currency-list>-->
<!--<app-currency-detail [coinDetail]="coin"></app-currency-detail>-->
<!--<app-currency-chart [dataX]="dataX" [dataY]="dataY"></app-currency-chart>-->
<!--<div><code>observable|async</code>: Time: {{ time | async }}</div>-->
<div class="container-fluid" style="background-color: #0b1231;">
  <div style="margin-top: 10px"></div>
<div class="container font" style="z-index: 1">

  <div style="text-align: right;">
  <input class="search__input" type="text" placeholder="Find Coin"  list="codes" [(ngModel)]="codeValue" (change)="updateCoin()" (input)="search($event)">
  <datalist id="codes">
    <option *ngFor="let searchElement of searchResult" [value]="searchElement.id">{{searchElement.name}}</option>
  </datalist>
  </div>

  <div style="margin-top: 10px"></div>
  <div class="containers" *ngIf="coin != null">
    <div class="scrolling" >
              <div class="content">
                <div class="check" *ngFor="let coin of coinList" (click)="selectedCoin(coin.id)">
                  <div>{{coin.name}}</div>
                  <div [ngStyle]="{'color': coin.price_change_percentage_24h > 0 ? '#2DAB41' : '#DA4931'}">${{coin.current_price | number: '1.0-2' }} <font>{{vsCurrency | uppercase}}</font></div>

                </div>
              </div>
    </div>
    <div class="scrolling" aria-hidden="true">
              <div class="content">
                <div class="check" *ngFor="let coin of coinList" (click)="selectedCoin(coin.id)">
                  <div>{{coin.name}}</div>
                  <div [ngStyle]="{'color': coin.price_change_percentage_24h > 0 ? '#2DAB41' : '#DA4931'}">${{coin.current_price | number: '1.0-2' }}<font>{{vsCurrency | uppercase}}</font></div>
                </div>
              </div>
    </div>
  </div>
  <div style="margin-top: 15px"></div>
  <div class="row" *ngIf="coin != null">
    <div class="col-sm-auto">
      <img src="{{coin.image}}">
    </div>
    <div class="col align-self-sm-center">
      <div class="row">
        <div class="col" style="font-size: 26px; color: #d3d5dd;">
          {{coin.name}} &nbsp; {{coin.symbol | uppercase}}
        </div>
        <div class="col-sm-3 digitFont" style="font-size: 20px;">
          ${{coin.current_price}} {{coin.price_change_percentage_24h | number: '1.0-2'}}%
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="#">Website</a> &nbsp; <a href="#">Explorer</a> &nbsp; <a href="#">Message Board</a>
        </div>
        <div class="col-sm-3 float-right digitFont" style="color: rgb(66, 81, 141);">
          {{coin.current_price/bitcoin.current_price | number: '1.0-5'}} BTC
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 5px"></div>
  <div class="row" *ngIf="coin != null">
    <div class="box col-sm">
      <div class="digitFont">${{coin.market_cap | number: '1.0-0' }} <font>{{vsCurrency | uppercase}}</font></div>
      <div>Market Cup</div>
    </div>
    <div class="box col-sm">
      <div class="digitFont">${{coin.total_volume| number: '1.0-0' }} {{vsCurrency | uppercase}}</div>
      <div>Volume (24h)</div>
    </div>
    <div class="box col-sm">
      <div class="digitFont">{{coin.circulating_supply | number: '1.0-0' }} {{coin.symbol | uppercase}}</div>
      <div>Circulation Supply</div>
    </div>
    <div class="box col-sm">
      <div class="digitFont">{{coin.total_supply | number: '1.0-0' }} {{coin.symbol | uppercase}}</div>
      <div>Max Supply</div>
    </div>
  </div>
</div>

  <div class="col-sm-12" style="margin-top: -30px">
    <div *ngIf="coinChart != null" style="text-align:center">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
        [fill]="chartOptions.fill"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [dataLabels]="chartOptions.dataLabels"
      ></apx-chart>
    </div>
  </div>

</div>
